* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: lightblue;
}

h1 {
  margin: 1em auto;
  font-size: 2.75rem;
  font-weight: 700;
}

.counter-container {
  font-size: 2rem;
  display: flex;
  background: rgb(0, 55, 128);
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  color: #fff;
}

.counter-container button {
  height: 2.5em;
  width: 2.5em;
  font-size: 2rem;
  outline: none;
  box-shadow: none;
  border: 3px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.counter-container button:hover {
  color: #fff;
  background: rgb(9, 91, 168);
}

.counter-container h3 {
  margin: 0 1.25em;
  font-size: 4rem;
  width: 1.5em;
}

.positive {
  color: lightgreen;
}

.negative {
  color: red;
}

.neutral {
  color: #fff;
}
